@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: white;
}

.maly{
  border-radius: 5px;
  box-shadow: 0 0 4px 0 black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.maly button{
  background: #ffa200;
  color: white;
  padding: 4px;
  border-radius: 5px;
}

.flex{
  display: flex;
}

.flex-row{
  flex-direction: row;
}
.flex-col{
  flex-direction: column;
}
.velky{
  border-radius: 5px;
  box-shadow: 0 0 4px 0 black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.w-32{
  width: 32rem;
}

.h-32{
  height: 32rem;
}