@tailwind base;
@tailwind components;
@tailwind utilities;

.popup-open {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.content-wrapper {
  pointer-events: none;
}
.popup-content h2 {
  margin-bottom: 20px;
}

.popup-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.popup-actions button:first-child {
  margin-right: 20px;
}

.popup-open .popup-actions button {
  padding: 15px 30px;
  font-size: 18px;
}
.popup-open .popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}
.popup-open .popup-actions button {
  background-color: #090909;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  transition: background-color 0.3s ease;
}

.popup-open .popup-actions button:hover {
  background-color: #4aec08;
}
.popup-open .popup-input {
  background-color: #fff;
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
}

.popup-open .popup-input:focus {
  border-color: #000000;
}
.popup-open .popup-content {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.popup-open .popup-content h2 {
  color: #050505;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


